.container {
    width: 100%;
    white-space: nowrap;
}

body {
  /*background-image: url("../images/airplane.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
  margin: auto;
  text-align: center;
}


section {
  align-content: center;
}

.uploadimg {
  margin: 10px auto;
  width: 200px;

}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 100px
}

.dropzonebox {
  display:inline-block;
  margin:10px auto;
  background-color: white;
}

.profile {
  background-color: white;
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.content1 {
  width: 50%;
  float: left;
  border-right: 1px dashed;
}

.content2 {
  width: 50%;
  float: left;
  border-left: 1px dashed;
}

.signinform {
  margin: 10% 30%;
  background-color: white;
  opacity: 0.95;
  color: black;
  padding: 0 30px 10px 15px;
}

.fontawesome {
  font-size: 200px;
}

li {
  text-align: left;
}